li { 
    list-style-type: circle; 
    color: rgb(0, 0, 0);
}

/* Importando fonte do Google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    background: url("https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Y29kZXxlbnwwfHwwfA%3D%3D&amp;ixlib=rb-1.2.1&amp;w=1000&amp;q=80")
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#181818;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    margin: 0;
}

.top-botao{
	background-color:white;
	padding: 20px;
	width: 80px;
	border-radius: 20px;
	color: black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.top-botao a{
	text-decoration: none;
	padding: 20px;
	color: black;
}

.mascara {
    background-color: rgba(0, 0, 0, 0.6);
}

.background-color-text{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: #fff;
    opacity: 85%;
    margin: 0;
    padding: 1%;
}

header{
    font-size: unset;
}

h1{
    font-size: 1.8em;
}

.logo{
    height: 60px;
}

.logo img{
    width: auto;
    height: 100%;
}

.title-h1 {
    width: 90%;
    margin: 0 auto;
}

footer{
    height: auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.description{
    margin: 2vw 4vw 2vw;
    background-color: #e0e0e0;
    padding: 2%;
    border-radius: 5px;
}

#content {
    border-radius: 0;
}

.description img{
    anima_quando_visivel:scale-in;
    display: block;
    height: auto;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

[anima_quando_visivel="aparece"] { 
    transition: .4s;
    opacity: 0;
}
[anima_quando_visivel="aparece"].visivel {
    opacity: 1;
}

[anima_quando_visivel="cresce"] { 
    transition: .5s;
    transform: scale(.8);
}

[anima_quando_visivel="cresce"].visivel {
    transform: scale(1);
}

[anima_quando_visivel="abre"] { 
    transition: .5s;
    transform: scaleY(0);
}

[anima_quando_visivel="abre"].visivel {
    transform: scale(1);
    transform: scaleY(1);
}
