li { list-style-type: circle; color: rgb(0, 0, 0);}

/* Importando fonte do Google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@keyframes aparecer{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    background: url("https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Y29kZXxlbnwwfHwwfA%3D%3D&amp;ixlib=rb-1.2.1&amp;w=1000&amp;q=80")
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#181818;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    margin: 0;
}

.container{
    height: auto;
}

header{
    animation: aparecer 1s;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: auto;
    color: #fff;
    align-items: center;
    padding: 1%;
}

.logo{
    animation: aparecer 1s;
    height: 60px;
}

.logo img{
    width: auto;
    height: 100%;
}

h1{
    animation: aparecer 1s;
    font-size: 1.8em;
}

footer{
    animation: aparecer 1s;
    height: auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.description{
    animation: aparecer 1s;
    margin: 2vw 4vw 2vw;
    background-color: #e0e0e0;
    padding: 2%;
    border-radius: 5px;
}

#content {
    border-radius: 0;
}

.description img{
    display: block;
    height: auto;
    width: 100%;
    max-width: 800px;

  margin-left: auto;
  margin-right: auto;
    text-align: center;
}

#title{
    animation: aparecer 1s;
    font-size: 1.8em;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: auto;
    color: #fff;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.background-color-text{
    background-color: black;
    opacity: 85%;
    margin: 0;
}